In [3]:
import pandas as pd

from api.data import (store_database_for_eys_gene,
                      parse_lovd,
                      LOVD_PATH,
                      set_lovd_dtypes,
                      )
from api.data import save_lovd_as_vcf
pd.options.display.max_columns = 0

In [4]:
store_database_for_eys_gene("lovd", override=False)

In [5]:
data = parse_lovd(LOVD_PATH + "/lovd_data.txt")

In [6]:
for i in data:
    print(i)
    display(data[i])

Genes

    id                            name  ... updated_by         updated_date
0  EYS  eyes shut homolog (Drosophila)  ...      00006  2024-05-31 11:42:04

[1 rows x 34 columns]

Transcripts

         id geneid  ... edited_by edited_date
0  00007329    EYS  ...

[1 rows x 19 columns]

Diseases

       id             symbol  ... edited_by          edited_date
0   00012              PSORS  ...     00006  2019-08-12 13:38:21
1   00058               CORD  ...     00006  2020-08-30 09:43:59
2   00112                 RP  ...     00006  2021-01-18 09:53:26
3   00139                 ID  ...     00006  2015-02-09 10:02:49
4   00173               SLOS  ...     00006  2021-12-10 21:51:32
5   00198                  ?  ...     00006  2016-10-22 17:54:40
6   02156                  -  ...     00006  2021-12-10 21:51:32
7   02440               RP25  ...     00006  2021-12-10 21:51:32
8   04211               RPar  ...
9   04214                  -  ...     00001  2023-03-09 14:26:26
10  04249  macular dystrophy  ...     00006  2024-02-15 21:18:39
11  05086                 HL  ...     00006  2015-10-23 11:43:00
12  05415                USH  ...
13  05468            uveitis  ...
14  06906                DEE  ...

[15 rows x 12 columns]

Genes_To_Diseases

  geneid diseaseid
0    EYS     00112
1    EYS     02440

Individuals

            id fatherid  ... Individual/Origin/Population Individual/Individual_ID
0     00000135           ...
1     00000210           ...
2     00001962           ...                        white
3     00016605           ...
4     00033096           ...
...        ...      ...  ...                          ...                      ...
1460  00451166           ...                                                071788
1461  00451252           ...                                                072857
1462  00451259           ...                                                073069
1463  00451333           ...                                                075139
1464  00451348           ...                                                080622

[1465 rows x 18 columns]

Individuals_To_Diseases

     individualid diseaseid
0        00000135     00012
1        00000210     00058
2        00001962     00173
3        00033096     04214
4        00033109     04214
...           ...       ...
1459     00451166     04249
1460     00451252     04249
1461     00451259     04249
1462     00451333     04249
1463     00451348     04249

[1464 rows x 2 columns]

Phenotypes

              id  ... Phenotype/Diagnosis/Criteria
0     0000000008  ...
1     0000000026  ...
2     0000000941  ...
3     0000026525  ...
4     0000026538  ...
...          ...  ...                          ...
1272  0000339895  ...
1273  0000339896  ...
1274  0000339897  ...
1275  0000339898  ...
1276  0000339899  ...

[1277 rows x 20 columns]

Screenings

              id individualid  ... Screening/Tissue              Screening/Remarks
0     0000000126     00000135  ...
1     0000000211     00000210  ...
2     0000001640     00001962  ...
3     0000016557     00016605  ...
4     0000033164     00033096  ...
...          ...          ...  ...              ...                            ...
1460  0000452765     00451166  ...                   smMIP-based 105 iMD/AMD genes
1461  0000452851     00451252  ...                   smMIP-based 105 iMD/AMD genes
1462  0000452858     00451259  ...                   smMIP-based 105 iMD/AMD genes
1463  0000452932     00451333  ...                   smMIP-based 105 iMD/AMD genes
1464  0000452947     00451348  ...                   smMIP-based 105 iMD/AMD genes

[1465 rows x 12 columns]

Screenings_To_Genes

     screeningid  geneid
0     0000000126  IL36RN
1     0000000211    MKS1
2     0000001640   DHCR7
3     0000033164    AHI1
4     0000033164     EYS
...          ...     ...
1311  0000437646     EYS
1312  0000437902     EYS
1313  0000437922     EYS
1314  0000443144     EYS
1315  0000443145     EYS

[1316 rows x 2 columns]

Variants_On_Genome

              id  ... VariantOnGenome/ClinicalClassification/Method
0     0000036426  ...
1     0000059881  ...
2     0000059883  ...
3     0000059884  ...
4     0000059885  ...
...          ...  ...                                           ...
2555  0000987292  ...                                          ACMG
2556  0000987305  ...                                          ACMG
2557  0000987318  ...                                          ACMG
2558  0000987322  ...                                          ACMG
2559  0000987333  ...                                          ACMG

[2560 rows x 26 columns]

Variants_On_Transcripts

              id  ... VariantOnTranscript/Exon
0     0000036426  ...                       38
1     0000059881  ...                       15
2     0000059883  ...                      22i
3     0000059884  ...                       26
4     0000059885  ...                      29i
...          ...  ...                      ...
2555  0000987292  ...
2556  0000987305  ...
2557  0000987318  ...
2558  0000987322  ...
2559  0000987333  ...

[2560 rows x 11 columns]

Screenings_To_Variants

     screeningid   variantid
0     0000000126  0000783293
1     0000000211  0000790459
2     0000001640  0000235838
3     0000016557  0000036426
4     0000033164  0000059884
...          ...         ...
2163  0000452765  0000987322
2164  0000452851  0000987196
2165  0000452858  0000987333
2166  0000452932  0000987277
2167  0000452947  0000987292

[2168 rows x 2 columns]

In [7]:
set_lovd_dtypes(data)
for i in data:
    print(i)
    display(data[i].info())

Genes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 34 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1 non-null      string
 1   name             1 non-null      string
 2   chromosome       1 non-null      Int64
 3   chrom_band       1 non-null      string
 4   imprinting       1 non-null      string
 5   refseq_genomic   1 non-null      string
 6   refseq_UD        1 non-null      string
 7   reference        1 non-null      string
 8   url_homepage     1 non-null      string
 9   url_external     1 non-null      string
 10  allow_download   1 non-null      bool
 11  id_hgnc          1 non-null      Int64
 12  id_entrez        1 non-null      Int64
 13  id_omim          1 non-null      Int64
 14  show_hgmd        1 non-null      bool
 15  show_genecards   1 non-null      bool
 16  show_genetests   1 non-null      bool
 17  show_orphanet    1 non-null      bool
 18  note_index       1 non-null      string
 19  note_listing     1 non-null      string
 20  refseq           1 non-null      string
 21  refseq_url       1 non-null      string
 22  disclaimer       1 non-null      bool
 23  disclaimer_text  1 non-null      string
 24  header           1 non-null      string
 25  header_align     1 non-null      Int64
 26  footer           1 non-null      string
 27  footer_align     1 non-null      Int64
 28  created_by       1 non-null      Int64
 29  created_date     1 non-null      datetime64[ns]
 30  edited_by        1 non-null      Int64
 31  edited_date      1 non-null      datetime64[ns]
 32  updated_by       1 non-null      Int64
 33  updated_date     1 non-null      datetime64[ns]
dtypes: Int64(9), bool(6), datetime64[ns](3), string(16)
memory usage: 371.0 bytes

None

Transcripts
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1 non-null      Int64
 1   geneid                 1 non-null      string
 2   name                   1 non-null      string
 3   id_mutalyzer           1 non-null      Int64
 4   id_ncbi                1 non-null      string
 5   id_ensembl             1 non-null      string
 6   id_protein_ncbi        1 non-null      string
 7   id_protein_ensembl     1 non-null      string
 8   id_protein_uniprot     1 non-null      string
 9   remarks                1 non-null      string
 10  position_c_mrna_start  1 non-null      Int64
 11  position_c_mrna_end    1 non-null      Int64
 12  position_c_cds_end     1 non-null      Int64
 13  position_g_mrna_start  1 non-null      Int64
 14  position_g_mrna_end    1 non-null      Int64
 15  created_by             0 non-null      Int64
 16  created_date           0 non-null      datetime64[ns]
 17  edited_by              0 non-null      Int64
 18  edited_date            0 non-null      datetime64[ns]
dtypes: Int64(9), datetime64[ns](2), string(8)
memory usage: 293.0 bytes

None

Diseases
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            15 non-null     Int64
 1   symbol        15 non-null     string
 2   name          15 non-null     string
 3   inheritance   15 non-null     string
 4   id_omim       4 non-null      Int64
 5   tissues       15 non-null     string
 6   features      15 non-null     string
 7   remarks       15 non-null     string
 8   created_by    15 non-null     Int64
 9   created_date  15 non-null     datetime64[ns]
 10  edited_by     11 non-null     Int64
 11  edited_date   11 non-null     datetime64[ns]
dtypes: Int64(4), datetime64[ns](2), string(6)
memory usage: 1.6 KB

None

Genes_To_Diseases
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   geneid     2 non-null      string
 1   diseaseid  2 non-null      Int64
dtypes: Int64(1), string(1)
memory usage: 166.0 bytes

None

Individuals
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            1465 non-null   Int64
 1   fatherid                      1465 non-null   string
 2   motherid                      1465 non-null   string
 3   panelid                       6 non-null      Int64
 4   panel_size                    1465 non-null   Int64
 5   license                       1465 non-null   string
 6   owned_by                      1465 non-null   Int64
 7   Individual/Reference          1465 non-null   string
 8   Individual/Remarks            1465 non-null   string
 9   Individual/Gender             1465 non-null   string
 10  Individual/Consanguinity      1465 non-null   string
 11  Individual/Origin/Geographic  1465 non-null   string
 12  Individual/Age_of_death       1465 non-null   string
 13  Individual/VIP                1465 non-null   string
 14  Individual/Data_av            1465 non-null   string
 15  Individual/Treatment          1465 non-null   string
 16  Individual/Origin/Population  1465 non-null   string
 17  Individual/Individual_ID      1465 non-null   string
dtypes: Int64(4), string(14)
memory usage: 211.9 KB

None

Individuals_To_Diseases
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1464 entries, 0 to 1463
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   individualid  1464 non-null   Int64
 1   diseaseid     1464 non-null   Int64
dtypes: Int64(2)
memory usage: 25.9 KB

None

Phenotypes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1277 entries, 0 to 1276
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            1277 non-null   Int64
 1   diseaseid                     1277 non-null   Int64
 2   individualid                  1277 non-null   Int64
 3   owned_by                      1277 non-null   Int64
 4   Phenotype/Inheritance         1277 non-null   string
 5   Phenotype/Age                 1277 non-null   string
 6   Phenotype/Additional          1277 non-null   string
 7   Phenotype/Biochem_param       1277 non-null   string
 8   Phenotype/Age/Onset           1277 non-null   string
 9   Phenotype/Age/Diagnosis       1277 non-null   string
 10  Phenotype/Severity_score      1277 non-null   string
 11  Phenotype/Onset               1277 non-null   string
 12  Phenotype/Protein             1277 non-null   string
 13  Phenotype/Tumor/MSI           1277 non-null   string
 14  Phenotype/Enzyme/CPK          1277 non-null   string
 15  Phenotype/Heart/Myocardium    1277 non-null   string
 16  Phenotype/Lung                1277 non-null   string
 17  Phenotype/Diagnosis/Definite  1277 non-null   string
 18  Phenotype/Diagnosis/Initial   1277 non-null   string
 19  Phenotype/Diagnosis/Criteria  1277 non-null   string
dtypes: Int64(4), string(16)
memory usage: 204.6 KB

None

Screenings
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1465 non-null   Int64
 1   individualid         1465 non-null   Int64
 2   variants_found       1465 non-null   Int64
 3   owned_by             1465 non-null   Int64
 4   created_by           1465 non-null   Int64
 5   created_date         1465 non-null   datetime64[ns]
 6   edited_by            15 non-null     Int64
 7   edited_date          15 non-null     datetime64[ns]
 8   Screening/Technique  1465 non-null   string
 9   Screening/Template   1465 non-null   string
 10  Screening/Tissue     1465 non-null   string
 11  Screening/Remarks    1465 non-null   string
dtypes: Int64(6), datetime64[ns](2), string(4)
memory usage: 146.1 KB

None

Screenings_To_Genes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1316 entries, 0 to 1315
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   screeningid  1316 non-null   Int64
 1   geneid       1316 non-null   string
dtypes: Int64(1), string(1)
memory usage: 22.0 KB

None

Variants_On_Genome
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2560 entries, 0 to 2559
Data columns (total 26 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   id                                             2560 non-null   Int64
 1   allele                                         2560 non-null   Int64
 2   effectid                                       2560 non-null   Int64
 3   chromosome                                     2560 non-null   Int64
 4   position_g_start                               2559 non-null   Int64
 5   position_g_end                                 2559 non-null   Int64
 6   type                                           2560 non-null   string
 7   average_frequency                              2559 non-null   float64
 8   owned_by                                       2560 non-null   Int64
 9   VariantOnGenome/DBID                           2560 non-null   string
 10  VariantOnGenome/DNA                            2560 non-null   string
 11  VariantOnGenome/Frequency                      2560 non-null   string
 12  VariantOnGenome/Reference                      2560 non-null   string
 13  VariantOnGenome/Restriction_site               2560 non-null   string
 14  VariantOnGenome/Published_as                   2560 non-null   string
 15  VariantOnGenome/Remarks                        2560 non-null   string
 16  VariantOnGenome/Genetic_origin                 2560 non-null   string
 17  VariantOnGenome/Segregation                    2560 non-null   string
 18  VariantOnGenome/dbSNP                          2560 non-null   string
 19  VariantOnGenome/VIP                            2560 non-null   string
 20  VariantOnGenome/Methylation                    2560 non-null   string
 21  VariantOnGenome/ISCN                           2560 non-null   string
 22  VariantOnGenome/DNA/hg38                       2560 non-null   string
 23  VariantOnGenome/ClinVar                        2560 non-null   string
 24  VariantOnGenome/ClinicalClassification         2560 non-null   string
 25  VariantOnGenome/ClinicalClassification/Method  2560 non-null   string
dtypes: Int64(7), float64(1), string(18)
memory usage: 537.6 KB

None

Variants_On_Transcripts
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2560 entries, 0 to 2559
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           2560 non-null   Int64
 1   transcriptid                 2560 non-null   Int64
 2   effectid                     2560 non-null   Int64
 3   position_c_start             2559 non-null   Int64
 4   position_c_start_intron      2560 non-null   Int64
 5   position_c_end               2559 non-null   Int64
 6   position_c_end_intron        2560 non-null   Int64
 7   VariantOnTranscript/DNA      2560 non-null   string
 8   VariantOnTranscript/RNA      2560 non-null   string
 9   VariantOnTranscript/Protein  2560 non-null   string
 10  VariantOnTranscript/Exon     2560 non-null   string
dtypes: Int64(7), string(4)
memory usage: 237.6 KB

None

Screenings_To_Variants
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2168 entries, 0 to 2167
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   screeningid  2168 non-null   Int64
 1   variantid    2168 non-null   Int64
dtypes: Int64(2)
memory usage: 38.2 KB

None

In [8]:
save_lovd_as_vcf(data["Variants_On_Genome"], "./lovd.vcf")

KeyError: 'Variants_On_Genome'

In [ ]:
from subprocess import Popen


process = Popen("spliceai -I ./lovd.vcf -O ./lovd_output.vcf -R ../tools/spliceai/hg38.fa -A grch38".split())
process.wait()

In [ ]:
from api.tools import get_revel_scores

chromosome = 6
position = 65655758

results = get_revel_scores(chromosome, position)

display(results)

In [ ]:
from api.data import request_clinvar_api_data

some_id = 1519786
try:
    frame = request_clinvar_api_data(some_id)
    display(frame)
except Exception as e:
    print(e)

In [ ]:
import requests
from api.data import request_clinvar_api_data

gene_id = '1519786'
# with gene_id = '1519787' error is raised

#TODO inside request_clinvar_api_data
# 1. dinamically expand genes to dataframe (might be one, might be more)
# 2. dinamically expand variation_loc to dataframe (might be one, might be more)
frames = request_clinvar_api_data(gene_id)

display(frames)

In [35]:
import requests

gene_id = '1519785'

path = f"https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=clinvar&id={gene_id}&retmode=json"

request = requests.get(path)

if request.status_code != 200:
    raise ValueError(f"Request failed with status code {request.status_code}")

data = request.json()

 # Extract the 'result' part of the JSON
results = data['result']

# Extract the 'uids' part of the JSON
flattened_data = []

for uid in results['uids']:
    entry = results[uid]

    # Using pd.json_normalize to flatten the JSON data
    flattened_entry = pd.json_normalize(entry, sep='_')

    flattened_variation_set = pd.json_normalize(flattened_entry['variation_set'][0], sep='_')
    flattened_variation_xrefs = pd.json_normalize(flattened_variation_set['variation_xrefs'][0], sep='_')
    
    variation_loc_size = len(flattened_variation_set['variation_loc'][0]) 
    for i in range(variation_loc_size):
        flattened_variation_loc = pd.json_normalize(flattened_variation_set['variation_loc'][0][i], sep='_')
        flattened_variation_loc = flattened_variation_loc.add_prefix(f'{i}_')
        flattened_variation_set = pd.concat([flattened_variation_set, flattened_variation_loc], axis=1)
    
    allele_freq_set_size = len(flattened_variation_set['allele_freq_set'][0])
    for i in range(allele_freq_set_size):
        flattened_allele_freq_set = pd.json_normalize(flattened_variation_set['allele_freq_set'][0][i], sep='_')
        flattened_allele_freq_set = flattened_allele_freq_set.add_prefix(f'{i}_')
        flattened_variation_set = pd.concat([flattened_variation_set, flattened_allele_freq_set], axis=1)
    
    gene_size = len(flattened_entry['genes'][0])
    for i in range(gene_size):
        flattened_genes = pd.json_normalize(flattened_entry['genes'][0][i], sep='_')
        flattened_genes = flattened_genes.add_prefix(f'{i}_')
        flattened_entry = pd.concat([flattened_entry, flattened_genes], axis=1)

    gremline_classification_trait_set_size = len(flattened_entry['germline_classification_trait_set'][0])
    for i in range(gremline_classification_trait_set_size):
        flattened_germline_classification_trait_set = pd.json_normalize(flattened_entry['germline_classification_trait_set'][0][i], sep='_')
        flattened_germline_classification_trait_set = flattened_germline_classification_trait_set.add_prefix(f'{i}_')
        
        trait_xrefs_size = len(flattened_germline_classification_trait_set[f'{i}_trait_xrefs'][0])
        for j in range(trait_xrefs_size):
            flattened_trait_xrefs = pd.json_normalize(flattened_germline_classification_trait_set[f'{i}_trait_xrefs'][0][j], sep='_')
            flattened_trait_xrefs = flattened_trait_xrefs.add_prefix(f'{j}_')

            flattened_germline_classification_trait_set = pd.concat([flattened_germline_classification_trait_set, flattened_trait_xrefs], axis=1)
    
        flattened_germline_classification_trait_set = flattened_germline_classification_trait_set.drop(columns=[f'{i}_trait_xrefs'], axis=1)
        flattened_entry = pd.concat([flattened_entry, flattened_germline_classification_trait_set], axis=1)
        
    # dropping extracted nests
    flattened_entry = flattened_entry.drop(columns=['variation_set', 'genes', 'germline_classification_trait_set'],axis=1)
    flattened_variation_set = flattened_variation_set.drop(columns=['variation_xrefs', 'variation_loc', 'allele_freq_set'], axis=1)

    flattened_variation_set = pd.concat([flattened_variation_set, flattened_variation_xrefs], axis=1)
    flattened_variation_set = pd.concat([flattened_variation_set, flattened_allele_freq_set], axis=1)

    flattened_entry = pd.concat([flattened_entry, flattened_variation_set], axis=1)
    flattened_entry = pd.concat([flattened_entry, flattened_germline_classification_trait_set], axis=1)

    # Append the flattened entry to the list
    flattened_data.append(flattened_entry)

    # Concatenate all flattened entries into a single DataFrame
df = pd.concat(flattened_data, ignore_index=True)

display(df)

       uid                   obj_type  ... 3_db_source 3_db_id
0  1519785  single nucleotide variant  ...        OMIM  614702

[1 rows x 110 columns]